dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
  view-transition-name: dialog3;
}

@media (prefers-color-scheme: dark) {
  dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

dialog {
  view-transition-name: dialog2;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


::view-transition-group(dialog2),
::view-transition-group(dialog3) {
  z-index: 110;
}

::view-transition-old(dialog2),
::view-transition-old(dialog3) {
  animation-name: fadeout;
  animation-duration: 0.4s;
}

::view-transition-new(dialog2),
::view-transition-new(dialog3) {
  animation-name: fadein;
  animation-duration: 0.4s;
}