

.mydialog {
  view-transition-name: dialog2;
  margin: 0;
  position: fixed;
  border: none;
  display: none;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.0);
  transition: all;
}


@keyframes fadein {
  0% {
    background-color: rgba(0, 0, 0, 0.0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

div.open {
  z-index: 9999;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadein 0.15s;
}


::view-transition-old(dialog2),
::view-transition-old(dialog3) {
  animation: none;
}

::view-transition-new(dialog2),
::view-transition-new(dialog3) {
  animation:none;
}